@using Helpdesk.Core.Dtos.Outputs
@model PersonPagerDtoOut
@{
    ViewBag.Title = "Personas";
}

<div class="container">
    <h2>Lista de personas</h2>
    <p>
        @Html.ActionLink("Agregar nuevo", "Create")
    </p>

    <form>
        <div class="form-group">
            <label asp-for="PersonSearch.ProjectId" class="control-label"></label>
            <select asp-for="PersonSearch.ProjectId" class="form-select" asp-items="ViewBag.ListProjects">
                <option value="">Seleccione</option>
            </select>
            <span asp-validation-for="PersonSearch.ProjectId" class="text-danger"></span>
        </div>
    </form>

    <table class="table">
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.Name) *@
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ListPersons)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRegistration)
                </td>
                <td>
                    <a href="~/Projects/Edit/@item.Id" class="btn btn-warning text-white">
                        <i class="fas fa-edit text-white"></i>
                        Editar
                    </a>

                    <a href="~/Projects/Delete/@item.Id" class="btn btn-danger">
                        <i class="fas fa-eraser text-white"></i>
                        Borrar
                    </a>

                </td>
            </tr>
        }

    </table>
</div>