<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalSelecAgency">
    <i class="align-middle" data-feather="search"></i> 
    <span class="align-middle">Buscar agencia</span>    
</button>

<!-- Modal -->
<div class="modal modal-lg fade" id="modalSelecAgency" tabindex="-1" aria-labelledby="modalSelecAgencyLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSelecAgencyLabel">Buscar agencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="table" class="table">
                    <thead>
                        <tr>
                            <th>Clave</th>
                            <th>Tipo</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Fecha</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="align-middle" data-feather="x"></i> 
                    <span class="align-middle">Cerrar</span> 
                </button>                
            </div>        
        </div>        
    </div>
</div>