@using Tickets.Core.Dtos
@model TicketDtoIn

@{
    ViewBag.Title = "Personas";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Agregar Ticket</h5>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h2 class="text-info">Seleccionar la agencia desde modal</h2>

                <div class="form-group mb-3">
                    <label asp-for="AgencyId" class="control-label"></label>
                    <select asp-for="AgencyId" class="form-select">
                        <option value="">Seleccione</option>
                    </select>
                    <span asp-validation-for="AgencyId" class="text-danger"></span>
                </div>

                @* 
                <div class="form-group mb-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" maxlength="255"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" maxlength="255"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Notes" class="control-label"></label>
                    <input asp-for="Notes" class="form-control" maxlength="1000"/>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div> 
                *@

                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-primary">
                        <i class="align-middle" data-feather="save"></i> 
                        <span class="align-middle">Guardar</span>                            
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">
        <i class="align-middle" data-feather="list"></i> 
        <span class="align-middle">Regresar a la lista</span> 
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="/js/person.js"></script>
}