<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalSelecAgency">
    <i class="align-middle" data-feather="search"></i> 
    <span class="align-middle">Buscar agencia</span>    
</button>

<!-- Modal -->
<div class="modal modal-lg fade" id="modalSelecAgency" tabindex="-1" aria-labelledby="modalSelecAgencyLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSelecAgencyLabel">Buscar agencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                    <div class="form-group mb-3">
                        <label class="control-label">Proyecto</label>
                        <select id="agencySearchProjectId" class="form-select" asp-items="ViewBag.ListProjects">
                            <option value="">Seleccione</option>
                        </select>                    
                    </div>

                    <div class="form-group mb-3">
                        <label class="control-label">Clave de la agencia</label>
                        <input id="agencySearchCode" class="form-control" placeholder="Clave de la agencia"/>                    
                    </div>

                    <div class="form-group mb-3">
                        <label class="control-label">Nombre de la agencia</label>
                        <input id="agencySearchName" class="form-control"  placeholder="Nombre de la agencia"/>                    
                    </div>

                    <div class="mb-3">
                        <button type="button" class="btn btn-primary" onclick="onclick_searchAgency()">
                            <i class="align-middle" data-feather="search"></i> 
                            <span class="align-middle">Buscar</span> 
                        </button>        
                    </div>
            

                <div class="border border-primary p-3">
                    <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group" id="group">
                        
                    </div>
                </div>
                <span style="display:none" class="text-danger" id="agencyIdNoSelect">Seleccione agencia</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="align-middle" data-feather="x"></i> 
                    <span class="align-middle">Cerrar</span> 
                </button>
                <button type="button" class="btn btn-primary" onclick="selectAgency()">
                    <i class="align-middle" data-feather="check"></i> 
                    <span class="align-middle">Seleccionar agencia</span>     
                </button>
            </div>        
        </div>        
    </div>
</div>